@font-face {
  font-family: "Roboto";
  src: url("assets/Roboto/Roboto-Thin.ttf");
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/Roboto/Roboto-ThinItalic.ttf");
  font-weight: 100; /* Thin */
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/Roboto/Roboto-Light.ttf");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/Roboto/Roboto-LightItalic.ttf");
  font-weight: 300; /* Light */
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/Roboto/Roboto-Regular.ttf");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/Roboto/Roboto-Italic.ttf");
  font-weight: 400; /* Regular */
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/Roboto/Roboto-Medium.ttf");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/Roboto/Roboto-MediumItalic.ttf");
  font-weight: 500; /* Medium */
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/Roboto/Roboto-Bold.ttf");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/Roboto/Roboto-BoldItalic.ttf");
  font-weight: 700; /* Bold */
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/Roboto/Roboto-Black.ttf");
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/Roboto/Roboto-BlackItalic.ttf");
  font-weight: 900; /* Black */
  font-style: italic;
}

:root {
  /* COLORS */
  --clr-blue: #4590ce;
  --clr-yellow: #e7b64a;
  --clr-neutral-500: #e3e8ef;
  --clr-neutral-300: #7c7c7c;

  /* FONT-SIZES */
  --fs-xlarge: 1.75rem;
  --fs-large-m: 1.5rem;
  --fs-large: 1.33rem;
  --fs-normal-x: 1.25rem;
  --fs-normal-m: 1.15rem;
  --fs-normal: 1rem;
  --fs-small: 0.9rem;
  --fs-xsmall: 0.8rem;
}

/* GLOBAL ------------------------------------------ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(auto, 310px) 1fr;
  background-color: var(--clr-neutral-500);
}

section {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 500;
  font-size: var(--fs-xlarge);
}

h2 {
  font-size: var(--fs-large-m);
}

h3 {
  font-size: var(--fs-normal-m);
}

h4 {
  font-size: var(--fs-normal-x);
  font-weight: 500;
}

h5 {
  font-size: var(--fs-normal-m);
}

h6 {
  font-size: var(--fs-small);
}

button {
  background-color: var(--clr-blue);
  border: none;
  color: white;
  font-size: var(--fs-normal);
  border-radius: 100vw;
  font-weight: 500;
  width: 6.25rem;
  height: 2.5rem;
  & svg {
    display: none;
  }
  &:hover {
    cursor: pointer;
  }
}

/* NAV ------------------------------------------ */

.menu-btn {
  width: max-content;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  display: none;
}

nav {
  font-weight: 500;
  font-size: var(--fs-large);
  padding: 1rem;
  color: white;
  background-color: var(--clr-blue);
  & svg {
    fill: white;
    width: 1.5rem;
    height: 1.5rem;
  }
}

nav > ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

nav > div,
li {
  gap: 0.67rem;
  display: grid;
  grid-template-columns: 3rem max-content;
  align-items: center;
  & svg {
    justify-self: center;
  }
}

.logo-container {
  & svg {
    width: 3rem;
    height: 3rem;
  }
  margin-bottom: 4rem;
}

nav > ul > li:nth-last-child(4) {
  margin-bottom: 4rem;
}

/* HEADER ------------------------------------------ */

header {
  padding-inline: 2.5rem;
  padding-right: 4rem;
  padding-block: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  display: grid;
  background-color: white;
  gap: 1.5rem;
}

.top-header {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 2rem;
  align-items: center;
  & img {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
  }
  & svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.search-container {
  display: grid;
  grid-template-columns: max-content minmax(200px, 1fr);
  gap: 1rem;
  align-items: center;
  & input {
    width: min(100%, 38.5rem);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 100vw;
    border: none;
    background-color: var(--clr-neutral-500);
  }
}

.user-container {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 1.5rem;
  margin-right: 1rem;
  img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100vw;
  }
}

.bottom-header {
  display: grid;
  grid-template-columns: minmax(285px, 1fr) minmax(max-content, 22.33rem);
  align-items: center;
  gap: 1rem;
}

.user-greeting {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1.5rem;
  align-items: center;
  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    & h2 {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  & p {
    font-weight: 600;
  }
  & img {
    border-radius: 100vw;
    width: 5rem;
    height: 5rem;
  }
}

.user-actions {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

/* MAIN ------------------------------------------ */

main {
  display: grid;
  grid-template-columns: 3fr minmax(285px, 1fr);
  background-color: var(--clr-neutral-500);
  margin: 1.25rem;
  margin-right: 2rem;
  gap: 1.5rem;
  & h4 {
    margin-bottom: 0.67rem;
  }
  & p {
    color: var(--clr-neutral-300);
  }
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  gap: 1.5rem;
}

.project-card {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 0.25rem;
  background-color: white;
  border-radius: 0.5rem;
  border-left: 0.5rem solid var(--clr-yellow);
  padding-inline: 1.5rem;
  padding-block: 2rem;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.25);
}

.project-card-icons {
  display: flex;
  justify-content: flex-end;
  gap: 1.67rem;
  margin-top: 1rem;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.announcement-container {
  padding-block: 1rem;
  padding-inline: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.25);
}

.announcement {
  padding-block: 1rem;

  font-size: var(--fs-xsmall);
}

.announcement:not(:last-child) {
  border-bottom: 1px solid var(--clr-neutral-500);
}

.trending-container {
  display: flex;
  flex-direction: column;
  padding-block: 1.5rem;
  padding-inline: 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.25);
  gap: 1rem;
}

.trending-item {
  & img {
    border-radius: 100vw;
    width: 3.33rem;
    height: 3.33rem;
  }
  display: flex;
  gap: 1rem;
  font-size: var(--fs-small);
  align-items: center;
  & p:first-of-type {
    color: black;
  }
}

/* MEDIA QUERIES ------------------------------------------ */

@media (max-width: 960px) {
  body {
    grid-template-columns: max-content 1fr;
  }
  nav {
    & li,
    & .logo-container {
      grid-template-columns: 1fr;
    }

    & li > a,
    & .logo-container > h1 {
      display: none;
    }
  }
}

@media (max-width: 820px) {
  nav {
    left: -240px;
    transition: 300ms;
    position: fixed;
    box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.25);
    height: 100%;
    & li > a,
    & .logo-container > h1 {
      display: block;
    }
    & li,
    & .logo-container {
      grid-template-columns: 3rem max-content;
    }
    & .logo-container {
      visibility: hidden;
    }
  }
  .show {
    left: 0;
    transition: 300ms;
    height: 100%;
  }
  .logo-container {
    margin-bottom: 2rem;
  }
  body {
    grid-template-columns: 1fr;
    position: relative;
    height: 100dvh;
  }
  header {
    position: fixed;
    width: 100%;
    gap: 0;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    padding: 0;
    background: none;
  }
  main {
    grid-template-columns: 1fr;
    margin: 1.25rem;
    padding-bottom: 6rem;
    padding-top: 3.5rem;
  }
  .top-header {
    gap: 1rem;
    grid-template-columns: max-content 1fr max-content;
    z-index: 100;
    background-color: white;
    padding-inline: 1.25rem;
    padding-block: 0.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    & svg {
      display: block;
    }
  }
  .menu-btn {
    display: flex;
  }
  .user-greeting {
    display: none;
  }
  .search-container {
    grid-template-columns: 1fr;
    position: relative;
    & input {
      width: 100%;
      padding-left: 2rem;
    }
    & svg {
      position: absolute;
      left: 0.5rem;
    }
  }
  .user-container {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    & svg {
      align-self: center;
      justify-self: center;
    }
    & img {
      width: 2.5rem;
      height: 2.5rem;
    }
    margin-right: 0;
    & h3 {
      display: none;
    }
  }
  .bottom-header {
    display: flex;
    justify-content: center;
    left: 0;
    width: 100%;
    align-items: flex-end;
  }
  .user-actions {
    box-shadow: 0px -3px 5px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
    justify-content: space-evenly;
    background-color: white;
    padding-block: 0.5rem;
    & button {
      & svg {
        display: inline;
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--clr-blue);
      }
      font-size: var(--fs-small);
      background: none;
      color: black;
      width: 4rem;
      height: 4rem;
    }
  }
}
